@font-face {
  font-family: "QV";
  src: url("asset/Quicksand font 1/Quicksand-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "QB";
  src: url("asset/Quicksand font 1/static/Quicksand-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "QL";
  src: url("asset/Quicksand font 1/static/Quicksand-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "QM";
  src: url("asset/Quicksand font 1/static/Quicksand-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "QR";
  src: url("asset/Quicksand font 1/static/Quicksand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "QS";
  src: url("asset/Quicksand font 1/static/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: "QM";
  background-color: #EEEEEE;
  font-size: 16px;
}

.header-section {
  background-image: url("asset/header_ pattern_svg.svg");
  height: 56px;
  border-bottom: 2px solid #31B9E4;
}

.header {
  background-color: rgba(37, 49, 63, 0.8);
  height: 40px;
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.nav-tab {
  text-transform: uppercase;
  font-size: 14px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
  color: #3FD28B;
}

.nav-tab.active {
  color: white;
}

.nav-tab.active::after {
  content: "";
  position: absolute;
  top: 34px;
  width: 100%;
  height: 3px;
  background-color: white;
}

.image-div {
  position: relative;
  cursor: pointer;
}

.image-div.active {
  background-image: url("asset/icons/hamburger-menu-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: 16px 16px; */
}

.counter {
  position: absolute;
  top: -5px;
  left: 12px;
  background-color: #2A7FF3;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.pro-name {
  position: absolute;
  top: -5px;
  left: 12px;
  background-color: #fff;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  font-size: 12px;
  text-align: center;
  color: #000;
}

.subnav {
  display: none;
  float: left;
  overflow: hidden;
}

.subnav .image-div {
  font-size: 16px;
  border: none;
  outline: none;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover {
  background-color: rgb(255, 255, 255);
}

.subnav-content {
  display: none;
  position: absolute;
  top: 59px;
  right: 16px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 13px 20px #0000003D;
  border-radius: 2px;
  width: 40%;
  z-index: 1;
}

.subnav-content a {
  display: flex;
  flex-direction: column;
  padding: 15px 16px;
  font-size: 14px;
  color: #1F7A54;
  text-decoration: none;
  text-transform: uppercase;
}

.subnav-content a:hover {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  color: #1F7A54;
}

.subnav:hover .subnav-content {
  display: block;
}
.subnav-2{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.subnav-2 img{
  position: absolute;
  right: 10px;
  font-size: 24px 24px;
}

.subnav-2.active img{
  transform: rotate(180deg);
}
.subnav-2-content{
  display: none;
}
.subnav-2.active, .subnav-2-content{
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  color: #1F7A54;
}
/******************** main *********************/
.main {
  padding: 24px;
  /* border: 1px solid rgb(196, 196, 196); */
}

.titles {
  height: 64px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #8DDC97;
}

.titles-val {
  width: 50%;
  display: flex;
  gap: 5px;
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.titles-val.active::after {
  content: "";
  position: absolute;
  top: 45px;
  width: 100%;
  height: 3px;
  background-color: #000000;
}

.titles-num {
  font-family: "QB";
  font-size: 24px;
}

.titles-text {
  font-size: 16px;
}

.fillter {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #686868;

}

#course {
  background-color: transparent;
  height: 28px;
  width: 170px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  outline: none;
  appearance: none;
  background-image: url("asset/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 24px 24px;
  cursor: pointer;
}

.lineing {
  margin: 17px 0;
  border-bottom: 1px solid #686868;
  opacity: 0.12;
}

/******************** Cards ********************/
.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 2rem;
}

.course-card {
  padding: 24px 24px;
  background: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.course-content {
  width: 100%;
  display: flex;
}

.course-image {
  width: 132px;
  height: 157px;
  margin-right: 16px;
}

.course-info {
  flex-direction: column;
  width: 70%;
}

.course-header {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.star-icon {
  height: 24px;
  width: 24px;
}

.expired-badge {
  position: absolute;
  top: 0;
  left: 0;
  background: #FFE4E6;
  color: #D80000;
  padding: 4px 7px 2px 5px;
  font-size: 10px;
  text-transform: uppercase;
}


.course-title {
  font-size: 16px;
  font-weight: 600;
  color: #1a1a2e;
}

.course-meta {
  display: flex;
  color: #666;
  font-size: 12px;
  gap: 9px;
}

.course-stats {
  display: flex;
  gap: 16px;
  color: #888;
  font-size: 12px;
  margin-bottom: 16px;
}

.course-stats b {
  color: #000;
}

.course-class {
  background-color: transparent;
  height: 28px;
  width: 100%;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #686868;
  outline: none;
  appearance: none;
  background-image: url("asset/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 24px 24px;
  cursor: pointer;
}

.course-class-info {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 13px;
  color: #666;
  margin-top: 8px;
  gap: 17px;
}

.course-line {
  border-bottom: 1px solid #686868;
  opacity: 0.3;
}

.course-actions {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
}

/********************** footer *****************/
.foot {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.off-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  gap: 16px;
}

.off-form a {
  text-decoration: none;
  color: #1F7A54;
  font-size: 14px;
}

.footer {
  height: 40px;
  background-color: #bebebe;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-text {
  display: flex;
  color: #525252;
  gap: 0.5rem;
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 14px
  }

  .header {
    padding: 8px 20px;
  }

  .navbar {
    gap: 26px;
  }
}

@media screen and (max-width: 900px) {
  body {
    font-size: 13px
  }

  .navbar {
    gap: 22px;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px
  }
  
  .course-container {
    margin: 0px 99px;
  }

  .nav-tab {
    display: none;
  }

  .subnav {
    display: block;
  }
}

/* @media screen and (max-width: 550px) {
  body {
    font-size: 11px
  }

  .header {
    padding: 8px 8px;
  }

  .navbar {
    gap: 14px;
  }
} */