:root {
    --scroll-background: #e7e7e7;
}
html,
body {
    margin: 0;
    padding: 0;
    // --scroll-background: #070707;

    .container {
        padding: 1px;

        .header {
            width: 100vw;
            padding: 10px 0;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            position: relative;

            .header-title {
                font-size: 18px;
            }

            .search {
                height: 10px;
                width: 20%;
                font-size: 14px;
                padding: 16px 20px;
                background-color: transparent;
                border: 1px solid #f7f7f7;
                box-sizing: border-box;
                box-shadow: 1px 1px 1px 1px #3d3d3d;
                border-radius: 5px;
                outline: none;
                cursor: text;

                &:hover {
                    background-color: #fff;
                }

                &:hover+#search-collaps {
                    display: block;
                    background-color: #fff;
                }
            }

            .search-tooltip {
                display: none;
                position: absolute;
                width: 10%;
                top: 100%;
                left: 60%;
                background-color: #f1f1f1;
                color: #333;
                padding: 6px 10px;
                white-space: nowrap;
                text-align: center;
                z-index: 10;
                font-size: 14px;
                animation-name: down;
                animation-duration: 0.8s;
                animation-timing-function: linear;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out;
            }
        }
    }

    #wrapper-div {
        position: relative;
    }

    canvas {
        position: absolute;
        // border: 1px solid #ccc;
        background: #fff;
        cursor: cell;
    }

    .cell-input {
        position: absolute;
        display: none;
        box-sizing: border-box;
        font-size: 12px;
        padding: 2px;
        border: 2px solid #107c41;
        background: #fff;
        z-index: 1000;
        outline: none;
    }
    .selection {
        position: absolute;
        display: none;
        box-sizing: border-box;
        font-size: 12px;
        padding: 2px;
        border: 2px solid #107c41;
        background: #fff;
        z-index: 1000;
        outline: none;
    }

    .cell-input-block {
        position: absolute;
        width: 4px;
        height: 4px;
        bottom: -1px;
        background: #107c41;
        border: 1px solid #fff;
        // cursor: nwse-resize; // ew-resize;
        cursor: crosshair;
        z-index: 1001;
        display: none;
    }
}